@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
    /* background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  background-color: black;
  color: white;
  padding: 10px;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-div {
  margin-top: 50px;
  margin: 10px;
  margin-left: auto;
  border: 3px solid grey;
  padding: 20px;
}

.upload-form {
}
.upload-form-user-message {
  font-weight: bold;
  font-size: 30px;
}

.parse-button {
}

.ride-analyzer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lap-data-div {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  border: 0px solid green;

}

.laps {
  margin-top: 10px;
  border: 0px solid red;
  

  display: flex;
  flex-direction: column;
  align-items: center;
}

.lap {
  border: 5px solid blue;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 100%;
}

.inner-lap-div {
  border: 5px solid grey;
  padding: 20px;
  margin: 10px;
}


.ride-data-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.ride-data-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;

  z-index: 999;
  margin-bottom: -40px;

  
}

.plot-div {
  /* border: 10px solid red; */
}


